body{
    margin: 0;
    line-height: 1.6;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    height: 820px;
    background: url("../img/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner{
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.1;

}
.intro__suptitle{
    color: #fff;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    margin-left: -150px;
}

.intro__title{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 40px;
    margin-left: -150px;
}


.header{
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
}

.nav{
    font-size: 14px;
    margin-top: 70px;
    text-transform: uppercase;
    margin-left: 38px;
}

.nav__link{
    text-decoration: none;
    color: #575757;
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    transition: color .3s linear;
    padding: 0 17px;
    font-weight: 900;
}

.nav__link:hover{
    color: #df6e07;
}

.nav__link::after{
    color: #df6e07;
}